.modal__applic{
    display: flex;
}
.open__modal{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: bold;
    color:#fff;
    background: #1f5bff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


