@import '../../veriable';

.wrapper__home{
    background: white;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    .school__content{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        h1{
            text-align: center;
            color:rebeccapurple;
            padding-bottom: 20px;
        }
        .line::after{
            content: '';
            border: 0.5px solid rgb(209, 209, 209);
            width: 33%;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: 59.5%;
        }
        &_p{
            margin: 0 auto;
            padding-top: 10px;
            max-width: 400px;
            text-align: center;
            line-height: 25px;
            font-size: 18px;
        }
        .why__me{
            display: grid;
            grid-template-columns: 360px 360px 360px;
            row-gap: 60px;
            column-gap: 20px;
            margin-top: 60px;
            &_item{
                display: flex;
                width: 100%;
                height: 72px;

                .number{
                    color:$pblack;
                    flex: 1;
                    border-radius: 50%;
                    background-color: #ededed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 20px;
                    margin-right: 15px;
                }
                .inf{
                    flex: 4;
                    p:first-child{
                        font-weight: bold;
                        color: rebeccapurple;
                    }
                    p:nth-child(2){
                        font-size: 14px;
                        padding-top: 8px;
                    }
                }
            }
        }

        img{
            width: 700px;
            height: 600px;
            position: relative;
            margin: 0 auto;
        }
    }
    
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    .modal-body{
        padding: 2rem;
        width: 400px;
        border-radius: 5px;
        background: #fff;
        height: 80%;
        position: relative;
        p{
            color:black;
            text-align: center;
            padding-bottom: 15px;
            opacity: 0.8;
            font-size: 14px;
        }
        
        form{
            .submit__btn{
                margin-bottom: 1em;
                margin-top: 10px;
                width: 86%;
                height: 50px;
                background-color: black;
                color: white;
                border-radius: 6px;
                font-size: 12px;
                font-weight: bold;
                position: absolute;
                bottom: 2%;
                left: 50%;
                transform: translateX(-50%);
            }
            div{
                padding-bottom: 2px;
                h3{
                    font-weight: 400;
                    font-size: 16px;
                    padding: 10px 0;
                    opacity: 0.8;
                    text-align: start;
                }
                select{
                    position: relative;
                    width: 100%;
                    height: 55px;
                    background-color: white;
                    border: 1px solid rgb(202, 202, 202);
                    border-radius: 6px;
                    padding: 10px 15px;
                    font-size: 14px;
                    appearance: none;
                    position: relative;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    
                    select::before{
                        content: "asdasd";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        height: 30px;
                        width: 30px;
                        color: black;
                        z-index: 1000000000;
                    }
                }
                
                input{
                    width: 100%;
                    margin: 0;
                    box-sizing: border-box;
                    height: 55px;
                    margin-top: 20px;
                    padding: 10px 15px;
                    font-size: 14px;
                    border-radius: 6px;
                    border: 1px solid rgb(202, 202, 202);
                }
                
            }
        }
        .exit__modal{
            position: absolute;
            transform: translate(-50% -50%);
            top: 0%;
            right: 0%;
            font-size: 32px;
            background-color: rgba(0,0,0,0);
            border: none;
            height: 45px;
            width: 45px;
            color: black;
            cursor: pointer;
        }
    }
}