.wrapper__instructor{
    background: white;
}
.body__instructor{
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 20vw;
    padding: 5px 0 5px 0;
    margin-right: 20px;
    background: #e5e5e5;
    p{
        color:rebeccapurple;
        padding-bottom: 5px;
        font-size: 22px;
    }
}