.admin__wrapper{
    background: white;
    .admin__body{
        button{
            font-weight: bolder;
            padding:15px;
            margin:10px;
            background: #1f5bff;
            color:white;
            border:none;
            border-radius: 10px;
        }
    }
}